body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  align-items: flex-start;
  justify-content: space-evenly;
}

div .card {
  border: 20px;
}

.card {
  border: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}