:root {
    --light: #ffffff;
    --opacity: rgba(17, 16, 17, 0.767);
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #e6b8b8;
}

header nav {
    padding: 20px;
    width: 100%;
    background-color: #cc7a7a;
}

header nav ul {
    margin: 10px;
    padding: 10px;
}

header nav ul li {
    display: inline;
}

header nav ul a {
    padding: 15px;
    margin: 8px;
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
    display: block;
    margin: 20px 10px;
    font-size: 30px;
}

#profile img {
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;
    display: block;
}

h2 {
    margin: 5px 10px;
    padding: 10px;
    font-size: 25px;
}

p {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    line-height: 1.25;
}

a {
    text-decoration: none;
    width: 30%;
}

.projects article {
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* multiple ids have similar styles for now. once projects are done and added, style will change*/
#project1 {
    background-image: url('../images/project1.png');
    width: 400px;
    margin: 20px;
    padding: 10px;
}

#project1 p {
    width: 50%;
    background-color: var(--opacity);
    color: var(--light);
}

#project2 {
    background-image: url('../images/placeholder.png');
    background-repeat: no-repeat;
    width: 400px;
    margin: 20px;
    padding: 10px;
}

#project2 p {
    width: 25%;
    background-color: var(--opacity);
    color: var(--light);
}

#project3 {
    background-image: url('../images/placeholder.png');
    background-repeat: no-repeat;
    width: 400px;
    margin: 20px;
    padding: 10px;
}

#project3 p {
    width: 25%;
    background-color: var(--opacity);
    color: var(--light);
}

#project4 {
    background-image: url('../images/placeholder.png');
    background-repeat: no-repeat;
    width: 400px;
    margin: 20px;
    padding: 10px;
}

#project4 p {
    width: 25%;
    background-color: var(--opacity);
    color: var(--light);
}

#contact ul li {
    display: block;
    padding: 10px;
    margin: 5px;
}

footer {
    text-align: center;
    padding: 5px;
    margin: 5px;
}

/* pseudo-classes */
header nav ul li a:hover {
    font-style: italic;
    cursor: pointer;
    text-decoration: underline;
}

#project1:hover {
    height: 300px
}

#contact ul li a:hover {
    font-style: italic;
    cursor: pointer;
    text-decoration: underline;
}

/* responsive layout */

@media (max-width: 570px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header nav {
        width: 100%;
    }

    #profile img {
        width: 50%;
    }

    .projects article {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1200px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header nav {
        width: 100%;
    }

    #profile img {
        width: 50%;
    }

    .projects article {
        display: flex;
        flex-direction: column;
    }
}