/* CSS HEX
--rose-quartz: #b0a1baff;
--snow: #FCF1F0ff;
--indigo: #510485ff;
--caribbean-current: #176A73ff;
--non-photo-blue: #A9E2E8ff; */

/* *{
    background-color: #b0a1baff;
}

charcoal: #111215; */