:root {
  --raisinBlack: #1E1E24;
  --Moonstone: #66999B;
  --Onyx: #36393B;
  --white: #FBFBFB;
  --roseQuartz: #BCABAE;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  flex-shrink: 0;
  background-color: var(--raisinBlack);
}

svg {
  background-color: var(--raisinBlack);
  color: white;
}

svg:hover {
  color: var(--roseQuartz);
}

/* charcoal: #111215; */

.nav-link {
  font-size: large;
}

.nav-link:hover {
  color: var(--roseQuartz);
  border-radius: 8px;
}
